$primary: #ff7f50;
$secondary: #ffd0be;
$tertiary-color: #ffa887;
$white: #fffafa;
$dark: #1c1c1c;
$success: #06af52;
$danger: #ff6347;
$warning: #ffc107;

/* Typography */
$font-family: "Lato", sans-serif;
$font-normal: 400;
$font-bold: 700;
/*=============================================
=            Misc Config            =
=============================================*/

/* Breakpoints */
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Transitions */

$fast: 0.2s ease-out;
$normal: 0.4s ease-out;
$slow: 0.6s ease-out;

/*=====  End of Misc Config  ======*/

/*=============================================
=            Gradients            =
=============================================*/
$gradient-0: rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7);
$gradient-1: rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3);

/*=====  End of Gradients  ======*/
